<div style=" display: flex; flex-direction: row;" id="productsAdm">   
    <app-menu></app-menu>
    <div class="content" style=" width: 100%;">
        <div class="content-header"></div>
        <div class="content-container">
            <table style="margin: 0 auto;"  id="gura">
                <thead>
                    <tr>
                        <th colspan="5" style="padding-top: 50px; padding-bottom: 20px; padding-right: 120px;">
                            <h1>Dodaj nowy produkt</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="res"><h5>link do obrazka</h5><input type="text" [(ngModel)]="newProduct.thumbnail" id="bgnew"></td>
                        <td id="res"><h5>tytuł</h5><input type="text" [(ngModel)]="newProduct.title" id="bgnew"></td> 
                        <td id="res"><h5>cena</h5><input type="number" [(ngModel)]="newProduct.price" id="bgnew"></td>
                        <td id="res"><select [(ngModel)]="newProduct.category" id="bgnew">
                                <option value="game" id="bgnew">game</option>
                                <option value="tool" id="bgnew">tool</option>
                            </select>
                        </td>
                        <td id="res"><button (click)="this.mainService.addProduct(newProduct)" id="bgnew">Dodaj</button></td>
                        <td id="res"><button (click)="getProducts()" id="bgnew">Odśwież</button></td>
                    </tr>
                </tbody>
            </table>

            <table style="margin:0 auto;" id="productsTable">
                <thead *ngIf="this.mainService.products">
                    <tr>
                        <th>obrazek</th>
                        <th>dane</th>
                        <th>akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of this.mainService.products?.productsTable">
                        <tr>
                            <td><img src="{{product.thumbnail}}" alt=""></td>
                            <td>
                                <ul>
                                    <li>Tytuł: {{product.title}}</li>
                                    <li>Cena: {{product.price}}</li>
                                    <li>Kategoria: {{product.category}}</li>
                                </ul>
                            </td>
                            <td>
                                <button (click)="this.mainService.removeProduct(product.id)" class="usun" >Usuń</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
