<app-panel-top></app-panel-top>
<div class="container mt-3">
    <h2>WYBRANE I POLECANE</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.trbna.com/preset/wysiwyg/b/b3/fe9fe93b411eb90dd9d183ef0586b.jpeg" alt="1" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>OUTRIDERS</h5>
                    <p>Outriders - przełomowa nowość. Nie, to nie jest Cyberpunk 2.0, ale polskie Destiny</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://thumbs.gfycat.com/VagueParchedAnaconda-size_restricted.gif" alt="2" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block" >
                    <h5>NIER</h5>
                    <p>Ludzkość została wyparta z Ziemi przez mechaniczne istoty z innego świata. W ostatecznej próbie odzyskania planety
                    ludzki ruch oporu wysyła siły androidów żołnierzy, by zniszczyli najeźdźców. Teraz trwa wojna między maszynami i
                    androidami ... Wojna, która może wkrótce odsłonić dawno zapomnianą prawdę o świecie.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.trbna.com/preset/wysiwyg/2/10/121b0881e11ebaef19d183ef0586b.jpeg" alt="3" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>VALHEIM</h5>
                    <p>Twoja próba zaczyna się w porównywalnym, spokojnym centrum Walheim, ale chwałę i błogosławieństwa bogów otrzymują tylko
                    ci, którzy mają odważne serce. Idź do czarnych lasów i wspinaj się na ośnieżone góry, eksploruj okolicę i zbieraj cenne
                    surowce, twórz śmiercionośną broń i nieprzeniknioną zbroję, buduj fortece i posterunki. Zbuduj sobie potężny statek i
                    popłyń, by odkrywać egzotyczne krainy… ale nie płyń daleko…</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://w.wallhaven.cc/full/q6/wallhaven-q65ol7.jpg" alt="4" width="1100" height="500">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>DEATH STRANDING</h5>
                        <p>Sam Bridges musi odważyć się pokonać świat, całkowicie zmieniony przez Pętlę Śmierci. Trzymając w dłoniach porozrzucane
                        resztki naszej przyszłości, postanawia stopniowo ponownie łączyć się między ruinami świata.</p>
                    </div>
            </div>
            <div class="carousel-item">
                <img src="https://keddr.com/wp-content/uploads/2021/01/maxresdefault.jpg" alt="5" width="1100"height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Resident Evil Village</h5>
                    <p>Akcja rozgrywa się kilka lat po przerażających wydarzeniach w cieszącym się uznaniem krytyków Resident Evil 7
                    biohazard.Zupełnie nowa fabuła rozpoczyna się, gdy Ethan Winters i jego żona Mia żyją spokojnie w nowym miejscu, wolnym
                    od koszmarów z przeszłości. Gdy razem budują swoje nowe życie, po raz kolejny spotyka ich tragedia.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.ytimg.com/vi/aR7Axq0VVuE/maxresdefault.jpg" alt="6" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>IT TAKES TWO</h5>
                    <p>Wyrusz w najbardziej szaloną podróż swojego życia w It Takes Two, platformówkowej grze przygodowej stworzonej wyłącznie
                    z myślą o współpracy. Zaproś znajomego, aby dołączył za darmo dzięki Friend’s Pass i współpracujcie nad ogromną gamą
                    radośnie rewolucyjnych wyzwań rozgrywki. Wciel się w zderzającą się parę Cody i May, dwoje ludzi zamienionych w lalki za
                    pomocą magicznego zaklęcia. Razem, uwięzieni w fantastycznym świecie, w którym nieprzewidywalne rzeczy kryją się za
                    każdym rogiem, niechętnie rzucają wyzwanie uratowaniu ich zrujnowanego związku.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.giphy.com/media/ijDmi9KOGRxQuBFnH5/giphy.gif" alt="7" width="1100"height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>DEVOUR</h5>
                    <p>DEVOUR to kooperacyjna gra typu survival horror dla 1-4 graczy. Powstrzymaj opętanego przywódcę sekty, zanim zaciągnie
                    cię ze sobą do piekła. Biegać. Krzyk. Ukryć. Tylko nie daj się złapać.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://mmo13.ru/download/content/202104/02/03/image_6066600e4db1e2.90107499.jpg" alt="8" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>LUNCH LADY</h5>
                    <p>W „Lunch Lady” będziesz wędrować po ciemnych korytarzach swojej szkoły w nadziei na znalezienie odpowiedzi na
                    nadchodzące finały. Przez całą szkołę będziesz ścigany przez złą i opętaną Lunch Lady. Musisz zebrać wszystkie 10 stron
                    i wydostać się stamtąd jak najszybciej.
                    Każda gra będzie inna. Lunch Lady będzie cię szukać w różnych lokalizacjach, a każdy przedmiot kolekcjonerski zostanie
                    ukryty gdzie indziej.
                    W miarę postępów w grze nieprzewidywalna stara Dama będzie jeszcze szybsza i silniejsza.
                    Zegar tyka.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://geektechmedia.pl/media/uploads/articles/thumbnails/paranormalfeatured.jpg" alt="9" width="1100" height="500">
                <div class="carousel-caption d-none d-md-block">
                    <h5>THE SIMS™ 4 PARANORMAL STUFF PACK</h5>
                    <p>Zapal świece i przygotuj rytuały, które uspokoją twoich upiornych nowych współlokatorów w pakiecie The Sims ™ 4
                    Paranormal Akcesoria *! Widmowi goście powodują psoty i chaos na parcelach Nawiedzonych domów, ale Simowie mogą
                    przeprowadzić seans, zaprzyjaźnić się z Guidry the Ghost, zostać badaczem zjawisk paranormalnych i przywrócić porządek.</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header">
            <a class="card-link" data-toggle="collapse" style="color: rgb(5, 140, 173);" href="#collapseOne">O NAS</a>
            </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                    Ten sklep ma jeden z największych katalogów gier: znajdziesz w nim ponad 70 000 pozycji (więcej niż w sklepie
                    stacjonarnym) i spotkasz społeczność dziesiątek milionów graczy (to nie jest przesada!). Witryna zawiera również
                    transmisje na żywo, przewodniki, fora, giełdy gier i tryb Big Picture (w którym można wchodzić w interakcję z
                    interfejsem kontrolera gier).
                    <br><br>Rabatowa sprzedaż Enjoy stała się legendą i jest bardzo popularna. Każdego roku odbywa się kilka wyprzedaży, zwykle
                        latem i zimą, ale są też promocje poświęcone dniom szczególnym (Halloween, Czarny piątek).
                    <br><br>Enjoy oferuje dużą liczbę darmowych gier i ofert specjalnych, które pozwalają na granie w gry premium przez określony
                        czas. Aby uzyskać do nich dostęp, po prostu zarejestruj się (jeśli nie masz jeszcze konta), a następnie przejdź do Gry>
                        Free to Play.
                    </div>
                </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" style="color: rgb(5, 140, 173);" href="#collapseTwo">TO CO SZUKASZ</a>
            </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Zdobądź nowe doświadczenia z wirtualnego świata! Jeśli nadal używasz klawiatury i myszy z ostatniej
                            dekady,
                            prawdopodobnie nie będziesz w stanie pokonać złych wrogów, którzy dokładnie zaktualizowali swój
                            sprzęt i sprzęt do
                            najnowszej wersji. Ale zawsze możesz stworzyć wszystkie warunki do wygrania, przejść przez wszystkie
                            poziomy i po prostu
                            cieszyć się procesem.
                            <br>klepy oferują wszystkie nowe produkty. Opowieść została przeniesiona do rzeczywistości i
                            pozwoliła osobie kontrolować
                            działania swoich bohaterów. Gry wideo przenoszą się z codziennej rutyny do fantastycznych
                            wszechświatów zamieszkałych
                            przez złe potwory i nieustraszonych bohaterów. Każdy gracz ma możliwość wyboru tematu i formatu
                            rozgrywki, który będzie
                            odpowiadał wszystkim jego potrzebom, niezrealizowanym w rzeczywistości: przygoda, poszukiwanie
                            skarbów, krwawa walka ze
                            złem, użycie niestandardowej broni, możliwość czasowego i przestrzennego ruchy.
                            <br><br>
                            <div class="item-footer">
                                <a href="https://www.gamesradar.com/new-games-2021/" class="link"><span>NOWOŚCI W ŚWIECIE
                                        GRY</span></a><br><br>
                                <a href="https://gccgamers.com/?fbclid=IwAR3nOhXq75nyT9xqOnHCHPLtpeNHPYnhTp1g3t_rdjili2ovYutF70VywYY"
                                    class="link"><span>WSZYSTKO DLA CIEBIE</span></a><br><br>
                                <a href="https://www.instagram.com/gogamers.me/?igshid=cigtl3mj7ji2&fbclid=IwAR0-jLztqc4Vd0qs7U134YXqafdcbpQ5TSmkWSCyQiip5I00cAMRKonQbzM"
                                    class="link"><span>PRZERWA NA ŚMIECHY</span></a>
                            </div>
                    </div>
            </div>
        </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" style="color: rgb(5, 140, 173);" href="#collapseThree">INFORMACJA</a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">Tutaj porozmawiamy o usługach z grami, które można bezpłatnie kupić lub pobrać i grać na swoim komputerze. Oprócz
                regularnie aktualizowanych bibliotek gier, możesz także zostać członkiem społeczności fanów danej gry.
                <br><br>tel. 597-665-004
                <br>tel. 596-577-432
                <br><br>GAmeeeeE.@gmail.com
                <br><br>Poland, Szczecin
                <br>70-645, ul. Kościuszki 44
            </div>
        </div>
    </div>
</div>
