button {
  padding: 10px 20px;
  background-color: rgba(136, 90, 128, 0.432);
  color: rgba(255, 255, 255, 0.822);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.966);
  border: 2px solid rgba(0, 0, 0, 0.568);
  cursor: pointer;
}
button:active {
  background: rgba(179, 115, 168, 0.116);
}
#cartBtn {
  margin-left: 30px;
  background-color: rgba(90, 123, 136, 0.342);
}
#adm {
  margin-left: 30px;
  background-color: rgba(90, 123, 136, 0.342);
}
img {
  margin-left: 50px;
  background-size: cover;
  background-position: center;
}
