body {
  background-image: url("neon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#logo {
  width: 150px;
  height: 150px;
}
